* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.content-container {
  padding: 40px 0;
}

.items-header {
  display: flex;
  justify-content: space-between;
}

.product {
  margin: 20px 0;
}

.contract-row {
  border-top: 1px solid black;
  margin: 0;
  padding: 10px 0;
}

.contract-subrow {
  margin-left: 10px;
  border-top: 1px solid black;
}

.contract-subrow p {
  padding-top: 10px;
  margin: 0;
}

.contract-subrow p:last-child {
  padding: 10px 0;
}

.user-info-item {
  display: flex;
  align-items: center;
}

.user-info-item b {
  margin-right: 5px;
}