@model string

<h4 style="padding: 20px 0 10px 20px">Регистрация</h4>
<hr />
<div style="padding: 50px">
    <div style="display:flex; justify-content:center; align-items: center">
        <h3 style="text-align: center">@Model</h3>
    </div>
</div>